:root {

  --background-primary: #F4F5FB;
  --background-secondary: #FFFFFF;

  /* colors */
  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;

  /* content */
  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --always-white: #fff;

  /* borders */
  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;

  /* fonts */
  --font-family: "Inter", sans-serif;
  --title: 700 1.5rem/2rem var(--font-family);
  --label: 600 1rem/1.25rem var(--font-family);
  --paragraph: 500 1rem/1.25rem var(--font-family);
  --link: 500 0.875rem/1rem var(--font-family);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;

  background: var(--background-primary);
  font: var(--paragraph);
  color: var(--content-primary);
}

.container {
  max-width: 39.1875rem;
  margin-inline: auto;
}

input, button {
  appearance: none;
  width: 100%;
  border-radius: 0.5rem;
  border: 2px solid var(--border-primary);
  padding: 0.75rem 1.125rem;
  outline: none;
  font: var(--paragraph);
}

li {
  list-style-type: none;
}

.underline {
  text-decoration: line-through;
}

.hidden {
  display: none;
}

.show-alert {
  display: flex;
}